.App {
  text-align: center;
  padding: 10px;
  display: flex;
}

.model-image {
  border-radius: 10px;
  box-shadow: 0 0 16px 0px rgb(0 0 0 / 76%);
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45rem;
}

.arrows > svg {
  cursor: pointer;
}

.holonext-viewer {
  display: grid;
}

.holonext-viewer > a {
  top: 40px;
  right: 50px;
  position: fixed;
  cursor: pointer;
}
