body {
  background: linear-gradient(141deg, #80808d 0, #ffffff 51%, #2b5e48 85%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.App {
  text-align: center;
  padding: 10px;
  display: flex;
}

.model-image {
  border-radius: 10px;
  box-shadow: 0 0 16px 0px rgb(0 0 0 / 76%);
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45rem;
}

.arrows > svg {
  cursor: pointer;
}

.holonext-viewer {
  display: grid;
}

.holonext-viewer > a {
  top: 40px;
  right: 50px;
  position: fixed;
  cursor: pointer;
}

.css-cnd76u-MuiPaper-root {
  background-color: unset !important;
  font-family: unset !important;
  font-size: unset !important;
}

.css-1equabv-MuiGrid-root {
  margin-top: 13% !important;
}

.css-19yndnj-MuiGrid-root {
  padding: 10px;
}

.css-1i5alow-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
  background-color: #6a8e7f !important  ;
}

.css-1osj8n2-MuiGrid-root > img {
  height: 100%;
  width: 100%;
  max-width: 75%;
}
